<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то хочет изменить ваш пароль. Если это вы, следуйте инструкциям:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не хотите изменять свой пароь, оставьте это сообщение без внимания.</p>
